-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cvl_psicologia
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alertas_desviacion`
--

DROP TABLE IF EXISTS `alertas_desviacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alertas_desviacion` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `asignacion_id` int(11) NOT NULL,
  `sesion_id` int(11) DEFAULT NULL,
  `tipo` enum('retraso','salto_meta','repeticion','fuera_programa','otro') NOT NULL,
  `descripcion` text NOT NULL,
  `detectada_por` int(11) DEFAULT NULL,
  `gravedad` enum('baja','media','alta','critica') DEFAULT 'media',
  `resuelta` tinyint(1) DEFAULT 0,
  `resuelta_por` int(11) DEFAULT NULL,
  `notas_resolucion` text DEFAULT NULL,
  `fecha_resolucion` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `asignacion_id` (`asignacion_id`),
  KEY `sesion_id` (`sesion_id`),
  KEY `detectada_por` (`detectada_por`),
  KEY `resuelta_por` (`resuelta_por`),
  KEY `idx_alertas_resuelta` (`resuelta`),
  KEY `idx_alertas_gravedad` (`gravedad`),
  CONSTRAINT `alertas_desviacion_ibfk_1` FOREIGN KEY (`asignacion_id`) REFERENCES `asignaciones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alertas_desviacion_ibfk_2` FOREIGN KEY (`sesion_id`) REFERENCES `sesiones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `alertas_desviacion_ibfk_3` FOREIGN KEY (`detectada_por`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `alertas_desviacion_ibfk_4` FOREIGN KEY (`resuelta_por`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas_desviacion`
--

LOCK TABLES `alertas_desviacion` WRITE;
/*!40000 ALTER TABLE `alertas_desviacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas_desviacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignaciones`
--

DROP TABLE IF EXISTS `asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `asignaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paciente_id` int(11) NOT NULL,
  `psicologa_id` int(11) NOT NULL,
  `supervisor_id` int(11) DEFAULT NULL,
  `programa_id` int(11) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin_estimada` date DEFAULT NULL,
  `fecha_fin_real` date DEFAULT NULL,
  `sesion_actual` int(11) DEFAULT 0,
  `estado` enum('en_curso','pausado','completado','desviado','cancelado') DEFAULT 'en_curso',
  `motivo_estado` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `paciente_id` (`paciente_id`),
  KEY `supervisor_id` (`supervisor_id`),
  KEY `programa_id` (`programa_id`),
  KEY `idx_asignaciones_estado` (`estado`),
  KEY `idx_asignaciones_psicologa` (`psicologa_id`),
  CONSTRAINT `asignaciones_ibfk_1` FOREIGN KEY (`paciente_id`) REFERENCES `pacientes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asignaciones_ibfk_2` FOREIGN KEY (`psicologa_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `asignaciones_ibfk_3` FOREIGN KEY (`supervisor_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL,
  CONSTRAINT `asignaciones_ibfk_4` FOREIGN KEY (`programa_id`) REFERENCES `programas_terapeuticos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignaciones`
--

LOCK TABLES `asignaciones` WRITE;
/*!40000 ALTER TABLE `asignaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calificaciones_psicologa`
--

DROP TABLE IF EXISTS `calificaciones_psicologa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calificaciones_psicologa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `psicologa_id` int(11) NOT NULL,
  `supervisor_id` int(11) NOT NULL,
  `asignacion_id` int(11) DEFAULT NULL,
  `paciente_id` int(11) DEFAULT NULL,
  `categoria` varchar(50) NOT NULL,
  `calificacion` int(11) NOT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `psicologa_id` (`psicologa_id`),
  KEY `supervisor_id` (`supervisor_id`),
  KEY `asignacion_id` (`asignacion_id`),
  KEY `paciente_id` (`paciente_id`),
  CONSTRAINT `calificaciones_psicologa_ibfk_1` FOREIGN KEY (`psicologa_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `calificaciones_psicologa_ibfk_2` FOREIGN KEY (`supervisor_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE,
  CONSTRAINT `calificaciones_psicologa_ibfk_3` FOREIGN KEY (`asignacion_id`) REFERENCES `asignaciones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `calificaciones_psicologa_ibfk_4` FOREIGN KEY (`paciente_id`) REFERENCES `pacientes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificaciones_psicologa`
--

LOCK TABLES `calificaciones_psicologa` WRITE;
/*!40000 ALTER TABLE `calificaciones_psicologa` DISABLE KEYS */;
/*!40000 ALTER TABLE `calificaciones_psicologa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cobros`
--

DROP TABLE IF EXISTS `cobros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cobros` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paciente_id` int(11) DEFAULT NULL,
  `tipo` enum('sesion','taller','programa','venta_libros','gastos_talleres','otro') NOT NULL DEFAULT 'sesion',
  `concepto` varchar(255) DEFAULT NULL,
  `sesion_id` int(11) DEFAULT NULL,
  `taller_id` int(11) DEFAULT NULL,
  `monto` decimal(10,2) NOT NULL DEFAULT 750.00,
  `metodo_pago` enum('efectivo','tarjeta_credito','tarjeta_debito','transferencia','otro') DEFAULT 'efectivo',
  `fecha` date NOT NULL,
  `hora` time DEFAULT NULL,
  `estado` enum('pagado','pendiente','cancelado') DEFAULT 'pagado',
  `observaciones` text DEFAULT NULL,
  `confirmado_psicologa` tinyint(1) DEFAULT 0,
  `confirmado_psicologa_id` int(11) DEFAULT NULL,
  `confirmado_psicologa_fecha` datetime DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `paciente_id` (`paciente_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `cobros_ibfk_1` FOREIGN KEY (`paciente_id`) REFERENCES `pacientes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cobros_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cobros`
--

LOCK TABLES `cobros` WRITE;
/*!40000 ALTER TABLE `cobros` DISABLE KEYS */;
INSERT INTO `cobros` VALUES (1,11,'venta_libros','venta de libro ',NULL,NULL,750.00,'efectivo','2026-07-29',NULL,'pagado','as',0,NULL,NULL,4,'2026-07-29 16:02:18');
/*!40000 ALTER TABLE `cobros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historial_cambios`
--

DROP TABLE IF EXISTS `historial_cambios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historial_cambios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tabla_afectada` varchar(50) NOT NULL,
  `registro_id` int(11) NOT NULL,
  `accion` enum('crear','editar','eliminar','reasignar') NOT NULL,
  `datos_anteriores` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`datos_anteriores`)),
  `datos_nuevos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`datos_nuevos`)),
  `usuario_id` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `usuario_id` (`usuario_id`),
  CONSTRAINT `historial_cambios_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historial_cambios`
--

LOCK TABLES `historial_cambios` WRITE;
/*!40000 ALTER TABLE `historial_cambios` DISABLE KEYS */;
INSERT INTO `historial_cambios` VALUES (1,'asignaciones',4,'editar','{\"estado\": \"en_curso\"}','{\"estado\": \"desviado\"}',5,'2026-07-29 16:01:16'),(2,'sesiones',11,'editar','{\"fecha_programada\": \"2026-02-07\"}','{\"fecha_programada\": \"2026-02-14\", \"estado\": \"reprogramada\"}',5,'2026-07-29 16:01:16'),(3,'alertas_desviacion',2,'editar','{\"resuelta\": false}','{\"resuelta\": true, \"notas_resolucion\": \"Acordado: activaci??n graduada m??s lenta\"}',2,'2026-07-29 16:01:16');
/*!40000 ALTER TABLE `historial_cambios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `libros`
--

DROP TABLE IF EXISTS `libros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `libros` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `autor` varchar(255) DEFAULT NULL,
  `precio` decimal(10,2) NOT NULL DEFAULT 0.00,
  `stock` int(11) DEFAULT 0,
  `descripcion` text DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `libros`
--

LOCK TABLES `libros` WRITE;
/*!40000 ALTER TABLE `libros` DISABLE KEYS */;
/*!40000 ALTER TABLE `libros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metas_programa`
--

DROP TABLE IF EXISTS `metas_programa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metas_programa` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `programa_id` int(11) NOT NULL,
  `sesion_numero` int(11) NOT NULL,
  `titulo` varchar(300) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `categoria` enum('evaluacion','intervencion','seguimiento','cierre') NOT NULL,
  `orden` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_programa_sesion` (`programa_id`,`sesion_numero`),
  CONSTRAINT `metas_programa_ibfk_1` FOREIGN KEY (`programa_id`) REFERENCES `programas_terapeuticos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metas_programa`
--

LOCK TABLES `metas_programa` WRITE;
/*!40000 ALTER TABLE `metas_programa` DISABLE KEYS */;
/*!40000 ALTER TABLE `metas_programa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notas_paciente`
--

DROP TABLE IF EXISTS `notas_paciente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notas_paciente` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `paciente_id` int(11) NOT NULL,
  `asignacion_id` int(11) DEFAULT NULL,
  `autor_id` int(11) NOT NULL,
  `autor_rol` varchar(50) DEFAULT NULL,
  `tipo` varchar(50) NOT NULL,
  `contenido` text NOT NULL,
  `calificacion` int(11) DEFAULT NULL,
  `paso_tratamiento` varchar(200) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `paciente_id` (`paciente_id`),
  KEY `asignacion_id` (`asignacion_id`),
  KEY `autor_id` (`autor_id`),
  CONSTRAINT `notas_paciente_ibfk_1` FOREIGN KEY (`paciente_id`) REFERENCES `pacientes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `notas_paciente_ibfk_2` FOREIGN KEY (`asignacion_id`) REFERENCES `asignaciones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `notas_paciente_ibfk_3` FOREIGN KEY (`autor_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notas_paciente`
--

LOCK TABLES `notas_paciente` WRITE;
/*!40000 ALTER TABLE `notas_paciente` DISABLE KEYS */;
/*!40000 ALTER TABLE `notas_paciente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `observaciones_supervision`
--

DROP TABLE IF EXISTS `observaciones_supervision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `observaciones_supervision` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `sesion_id` int(11) NOT NULL,
  `supervisor_id` int(11) NOT NULL,
  `observacion` text NOT NULL,
  `tipo` enum('general','tecnica','correccion','apoyo') DEFAULT 'general',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `sesion_id` (`sesion_id`),
  KEY `supervisor_id` (`supervisor_id`),
  CONSTRAINT `observaciones_supervision_ibfk_1` FOREIGN KEY (`sesion_id`) REFERENCES `sesiones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `observaciones_supervision_ibfk_2` FOREIGN KEY (`supervisor_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `observaciones_supervision`
--

LOCK TABLES `observaciones_supervision` WRITE;
/*!40000 ALTER TABLE `observaciones_supervision` DISABLE KEYS */;
/*!40000 ALTER TABLE `observaciones_supervision` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pacientes`
--

DROP TABLE IF EXISTS `pacientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pacientes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `fecha_nac` date DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  `motivo_consulta` text DEFAULT NULL,
  `diagnostico_inicial` text DEFAULT NULL,
  `observaciones_generales` text DEFAULT NULL,
  `estado` enum('activo','pausado','finalizado','derivado') DEFAULT 'activo',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pacientes_estado` (`estado`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pacientes`
--

LOCK TABLES `pacientes` WRITE;
/*!40000 ALTER TABLE `pacientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `pacientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programas_terapeuticos`
--

DROP TABLE IF EXISTS `programas_terapeuticos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `programas_terapeuticos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `total_sesiones` int(11) NOT NULL CHECK (`total_sesiones` between 12 and 16),
  `created_by` int(11) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `programas_terapeuticos_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programas_terapeuticos`
--

LOCK TABLES `programas_terapeuticos` WRITE;
/*!40000 ALTER TABLE `programas_terapeuticos` DISABLE KEYS */;
/*!40000 ALTER TABLE `programas_terapeuticos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reglas_clinica`
--

DROP TABLE IF EXISTS `reglas_clinica`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reglas_clinica` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `seccion` varchar(50) NOT NULL,
  `titulo` varchar(200) NOT NULL,
  `items` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`items`)),
  `actualizado_por` int(11) DEFAULT NULL,
  `actualizado_en` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `actualizado_por` (`actualizado_por`),
  CONSTRAINT `reglas_clinica_ibfk_1` FOREIGN KEY (`actualizado_por`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reglas_clinica`
--

LOCK TABLES `reglas_clinica` WRITE;
/*!40000 ALTER TABLE `reglas_clinica` DISABLE KEYS */;
/*!40000 ALTER TABLE `reglas_clinica` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesiones`
--

DROP TABLE IF EXISTS `sesiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sesiones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `asignacion_id` int(11) NOT NULL,
  `numero_sesion` int(11) NOT NULL,
  `fecha_programada` date NOT NULL,
  `fecha_real` date DEFAULT NULL,
  `meta_id` int(11) DEFAULT NULL,
  `estado` enum('programada','completada','reprogramada','cancelada') DEFAULT 'programada',
  `duracion_minutos` int(11) DEFAULT NULL,
  `temas_trabajados` text DEFAULT NULL,
  `observaciones_psicologa` text DEFAULT NULL,
  `observaciones_supervisor` text DEFAULT NULL,
  `desviacion` tinyint(1) DEFAULT 0,
  `motivo_desviacion` text DEFAULT NULL,
  `tipo_desviacion` enum('retraso','salto_meta','repeticion','fuera_programa','ninguna') DEFAULT 'ninguna',
  `confirmada_psicologa` tinyint(1) DEFAULT 0,
  `confirmada_fecha` datetime DEFAULT NULL,
  `archivo_url` varchar(500) DEFAULT NULL,
  `archivo_nombre` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_asignacion_sesion` (`asignacion_id`,`numero_sesion`),
  KEY `meta_id` (`meta_id`),
  KEY `idx_sesiones_estado` (`estado`),
  KEY `idx_sesiones_fecha` (`fecha_programada`),
  CONSTRAINT `sesiones_ibfk_1` FOREIGN KEY (`asignacion_id`) REFERENCES `asignaciones` (`id`) ON DELETE CASCADE,
  CONSTRAINT `sesiones_ibfk_2` FOREIGN KEY (`meta_id`) REFERENCES `metas_programa` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesiones`
--

LOCK TABLES `sesiones` WRITE;
/*!40000 ALTER TABLE `sesiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `talleres`
--

DROP TABLE IF EXISTS `talleres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `talleres` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `tema` varchar(255) DEFAULT NULL,
  `fecha` date NOT NULL,
  `hora_inicio` time DEFAULT NULL,
  `hora_fin` time DEFAULT NULL,
  `lugar` varchar(255) DEFAULT NULL,
  `instructor` varchar(255) DEFAULT NULL,
  `capacidad` int(11) DEFAULT 0,
  `inscritos` int(11) DEFAULT 0,
  `estado` enum('activo','completado','cancelado') DEFAULT 'activo',
  `publico_objetivo` text DEFAULT NULL,
  `materiales` text DEFAULT NULL,
  `resultado` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `talleres_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `usuarios` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `talleres`
--

LOCK TABLES `talleres` WRITE;
/*!40000 ALTER TABLE `talleres` DISABLE KEYS */;
/*!40000 ALTER TABLE `talleres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `rol` enum('psicologa','lider','supervisor') NOT NULL,
  `avatar_url` varchar(500) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_usuarios_rol` (`rol`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-29 10:14:17
